HOST_ADDRESS=0.0.0.0
HOST_PORT=8184

HOME_NAME=t2bot.io
HOME_MATRIX_URL=https://t2bot.io
#HOME_FEDERATION_URL=https://t2bot.io:8448
#HOME_MEDIA_URL=https://t2bot.io
HOME_ACCESS_TOKEN=secret-token
#HOME_ACCESS_TOKEN_FILE=/run/secrets/docker-secret

ADMIN_LIST=@someone:matrix.domain.com

WIDGET_BLACKLIST=10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,127.0.0.0/8

DATABASE_FILE=dimension.db

LOG_CONSOLE=true
LOG_CONSOLE_LEVEL=info
LOG_FILE_PATH=logs/dimension.log
LOG_FILE_LEVEL=verbose
LOG_FILE_SIZE=52428800
LOG_FILE_COUNT=5

#U_ID=1000
#G_ID=1000

#GENERATE_CONFIG=true